
/**
    Scene
*/
MenuBar, menus, Menu, items, MenuItem, ScrollPane{
    -fx-background-color: #99FF66;
}

SplitPane{
    -fx-background-color: #CCFF99;
}


.vco{
    -fx-background-color: #99A6CC;
}

.vcf{
    -fx-background-color: #ff00d4;
}

.vca{
    -fx-background-color: #61F26E;
}

.rep{
    -fx-background-color: #FFFF6B;
}

.oscillo{
    -fx-background-color: #E68C33;
}

.eg{
    -fx-background-color: #cc943c;
}

.out{
    -fx-background-color: #474ACE;
}

