
/**
    Scene
*/
menus, Menu, items, MenuItem, ScrollPane, SplitPane{
    -fx-background-color: #000000;
}

MenuBar{

}

menu-bar{
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;

}

Label{
    -fx-text-fill: #ffffff;
    -fx-font: Tahoma;
    -fx-font-weight: bold;
}

.check-box{
    -fx-text-fill: #ffffff;
    -fx-font: Tahoma;
        -fx-font-weight: bold;
}

#module{
    -fx-background-image: url("metal.jpg");
    -fx-border-color: #000000;
}

#miniature{
    -fx-background-image: url("metal_miniature.jpg");
    -fx-border-color: #000000;
}

